* {
    box-sizing: border-box;
}
.menu {
    background-color: aqua;
    width: 250px;
}
.menu ul {
    padding: 0;
}
.menu ul li {
    width: auto;
    display: block;
    line-height: 30px;
    position: relative;
    padding: 0 1em;
}
a {
    text-decoration: none;
    color: black;
}
.menu ul li a:hover {
    color: red;
}
.list-1 {
    display: none;
    background-color: bisque;
    position: absolute;
    left: 250px;
    top: 0px;
    width: 100%;
}
.menu ul li:hover .list-1 {
    display: block;
}
.list-11 {
    display: none;
    background-color: orange;
    position: absolute;
    left: 250px;
    top: -59.2px;
    width: 100%;
}
.list-1 li:hover .list-11 {
    display: block;
}
.list-2 {
    display: none;
    background-color: bisque;
    position: absolute;
    left: 250px;
    top: -29px;
    width: 100%;
}
.list-21 {
    display: none;
    background-color: orange;
    position: absolute;
    left: 250px;
    top: 0px;
    width: 100%;
}
.menu ul li:hover .list-2 {
    display: block;
}
.list-2 li:hover .list-21 {
    display: block;
}
.list-22 {
    display: none;
    background-color: orange;
    position: absolute;
    left: 250px;
    top: -29.5px;
    width: 100%;
}
.list-2 li:hover .list-22 {
    display: block;
}
.list-2 li:hover .list-11 {
    display: block;
}
.list-3 {
    display: none;
    background-color: bisque;
    position: absolute;
    left: 250px;
    top: -59px;
    width: 100%;
}
.menu ul li:hover .list-3 {
    display: block;
}
.list-3 li:hover .list-21 {
    display: block;
}
.list-3 li:hover .list-22 {
    display: block;
}
.list-3 li:hover .list-11 {
    display: block;
}