* {
    box-sizing: border-box;
}
.login {
    width: 150px;
    height: 50px;
    background-color: blue;
    border: none;
    color: white;
    margin: 20px 0px 100px 200px;
}
.login:hover {
    background-color: green;
    border-radius: 25px;
    transition: all 0.3s linear;
}
.container {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.image1:hover {
    transform: scale(1.3);
    transition: all 0.3s linear;
}
.image2:hover {
    transform: scale(1.3);
    transition: all 0.3s linear;
}
.image3:hover {
    transform: scale(1.3);
    transition: all 0.3s linear;
}
.image4:hover {
    transform: scale(1.3);
    transition: all 0.3s linear;
}
.image5:hover {
    transform: scale(1.3);
    transition: all 0.3s linear;
}
.image6:hover {
    transform: scale(1.3);
    transition: all 0.3s linear;
}
.heart {
    background-color: red;
    margin-left: 600px;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.heart::after {
    background-color: red;
    width: 100px;
    height: 100px;
    content: "";
    position: absolute;
    left: 50px;
    border-radius: 50px;
}
.heart::before {
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    content: "";
    bottom: 50px;
    border-radius: 50px;
}
@keyframes beat {
    0% {
        transform: scale(1) rotate(-45deg);
    }
    20% {
        transform: scale(1.5) rotate(-45deg);
    }
    40% {
        transform: scale(1.3) rotate(-45deg);
    }
    60% {
        transform: scale(1.5) rotate(-45deg);
    }
    100% {
        transform: scale(1) rotate(-45deg);
    }
}
.text {
    font-size: 50px;
}
.jump {
    color: white;
}
.jump::after {
    animation-name: jumping;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    content: "";
}
@keyframes jumping {
    0% {
            background-color: green; content: "CODING";
    }
    35% {
            background-color: blue; content: "TEACHING";
    }
    70% {
            background-color: orange; content: "LEARNING";
    }
    100% {
            background-color: green; content: "CODING";
    }
}