* {
    box-sizing: border-box;
}
body {
    background: linear-gradient(-35deg,#FFCCCC, #CCFFFF);
}
.container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
h1 {
    position: absolute;
    color: red;
    left: 35%;
    padding-top: 20px;
    animation-name: jump;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes jump {
    50% {
        left: 10%;
    }
}
img {
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 5px rgba(0, 0, 0, 0.5);
}
