h1 {
    text-align: center;
}
p {
    text-align: center;
}
body {
    background-color: #EEEEEE;
    font-size: 18px;
}
img {
    display: block;
    margin: auto;  
}
.image {
    background-color: white;
    text-align: center;
}
h3 {
    text-align: center;
    padding: 30px 0px 30px 0px;
}
.time-line {
    width: 600px;
    margin: auto;
    line-height: 27px;
}
.img-caption {
    padding: 5px 0px 20px 0px;
}
.footer {
    text-align: center;
    padding: 40px 0px 20px 0px;
}